.filter-button {
    background-color: #243c7c;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-left: 10px;
  }
  
  .clear-filter-button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .filter-button:hover {
    background-color: #1a2c5d;
  }
  
  .clear-filter-button:hover {
    background-color: #c82333;
  }