.import-csv-container {
    display: inline-block;
  }
  
  .import-csv-button {
    background-color: #dc4226;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    transition: background-color 0.3s;
  }
  
  .import-csv-button:hover {
    background-color: #b04058;
  }
  
  .import-csv-button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }
  
  .import-icon {
    font-size: 14px;
  }






  /* importCsv.css or a new modal.css */
.custom-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.custom-modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  max-width: 90%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.custom-modal-header {
  margin-bottom: 10px;
}

.custom-modal-title {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
}

/* .custom-modal-body {
  margin-bottom: 20px;
} */

.custom-modal-select {
  width: 100%;
  padding: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

.custom-modal-footer {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.custom-modal-button {
  padding: 3px 7px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}

.custom-modal-button-confirm {
  background-color: #243c7c;
  color: white;
  border: none;
}

.custom-modal-button-confirm:hover {
  background-color: #2f4a94;
}

.custom-modal-button-cancel {
  background-color: #f44336;
  color: white;
  border: none;
}

.custom-modal-button-cancel:hover {
  background-color: #d32f2f;
}

.custom-modal-error {
  color: #f44336;
  margin-top: 5px;
  font-size: 0.9rem;
}