
.invoice-container {
    max-width: 1100px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .container-table{
    padding: 20px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .container h4 {
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 20px;
    color: #243c7c;
    font-weight: 600;
  }

  .nav-tabs {
    margin-bottom: 20px;
    border-bottom: 2px solid #dee2e6;
  }
  
  .nav-tabs .nav-link {
    font-size: 1rem;
    color: #495057;
    border: 1px solid transparent;
    border-radius: 8px 8px 0 0;
    transition: all 0.3s ease;
  }
  
  /* .nav-tabs .nav-link.active {
    background-color: #243c7c;
    color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
  }
   */


/*    
  .tab-pane {
    background: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #dee2e6;
  } */
  
  .tab-pane h5 {
    margin-bottom: 15px;
    color: #243c7c;
  }
  
  .input-group-text {
    background-color: #243c7c;
    color: #fff;
    border: none;
  }

  .form-control:focus {
    border-color: #243c7c;
    box-shadow: none;
  }

  .d-flex {
    justify-content: flex-start;
  }
  
  button.btn-primary {
    background-color: #243c7c;
    border: none;
    border-radius: 8px;
    transition: background-color 0.3s ease;
  }
  
  button.btn-primary:hover {
    background-color: #1a2b5c;
  }
  
  button.btn-secondary {
    background-color: #6c757d;
    border: none;
    border-radius: 8px;
    transition: background-color 0.3s ease;
  }
  
  button.btn-secondary:hover {
    background-color: #5a6268;
  }

  .icon{
    width: 20px;
  }
  @media (max-width: 576px) {
    .container {
      padding: 15px;
    }
  
    .nav-tabs {
      flex-direction: column;
    }
  
    .nav-tabs .nav-link {
      margin-bottom: 5px;
      border-radius: 8px;
    }
  
    /* .tab-pane {
      padding: 15px;
    } */
  }
  
  /**************** BADGE HSRP*********************/
.status-badge {
  padding: 3px 8px;
  border-radius: 12px;
  font-size: 12px;
  font-weight: 500;
  display: inline-block;
}

.ordered {
  background-color: #d1fae5;
  color: #065f46;
}

.pending {
  background-color: #fef3c7;
  color: #92400e;
}